<div ng-show="category.links.length">
  <h2>Links in {{ category.name }}</h2>

  <ul>
    <li ng-repeat="item in category.links | orderBy:'rating': true">
       <span ng-click="item.addToRating()"><i class="fa fa-plus-circle"></i></span>
       {{ item.rating }}
       <span ng-click="item.subtractFromRating()"><i class="fa fa-minus-circle"></i></span> -
       <a href="{{ item.website }}" target="_blank">{{ item.name }}</a> -
       <span ng-click=""><i class="fa fa-comments"></i></span> <!-- See all comments -->

       <!-- <div ng-show=""> -->

       <span ng-click="showCommentForm = true"><i class="fa fa-comment"></i></span> <!-- Add new comment -->

       <span ng-show="showCommentForm" ng-submit="showCommentForm = false">
         <form ng-submit="item.addComment(comment)" class="form-inline" role="form">
           <div class="form-group">
             <textarea type="text" ng-model="comment" class="form-control" placeholder="comment"></textarea>
           </div>
           <button type="submit" class="btn btn-default">Submit</button>
         </form>
      </span>
      {{ item.comments }}

    </li>
  </ul>
</div>

<div>
  <h2>Add a link to {{ category.name }}</h2>
  <form ng-submit="addLink()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="linkName" class="form-control" placeholder="Site Name">
      <input type="text" ng-model="webSite" class="form-control" placeholder="Site Address">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
